


.top-nav{
background-color: navy;
align-content: center;
display: flex;
justify-content:space-evenly;
padding: 20px;
font-size: 30px;
font-weight: bold;
}
   
.home-p {
    background-color:lightgrey;
    margin-left: 10%;
    margin-right: 10%;
    border: solid black 4px;
    padding-bottom: 65%;
}
    .logo-img {
        padding-top: 50px;
        padding-left: 100px;
    }
.home-p {
    font-family: arial;
    font-size: 25px;
    text-align: center;
    padding: 4px solid black;
    padding-left:75px;
    padding-top: 100px;
}

.top-nav a:link{
    color:green;
}

.top-nav a.active{
    color:whitesmoke;
}


.top-nav a:visited:hover {
    color: red;
}


h1{
    text-align:center;
}


.about-p{
    background-color:lightgrey;
    margin-left: 10%;
    margin-right: 10%;
    border: solid black 4px;
    padding-bottom: 5%;
    font-family: arial;
    font-size: 25px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: arial;

    
}
.about-me-2{
    background-color:lightgrey;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: solid black 4px;
    padding-bottom: 125px;
    font-family: arial;
    font-size: 35px;
    text-align: center;
    padding: 4px solid black;
    padding-left:75;  
    
}
.hobbies p{
    font-size: 22px;
    font-family: Arial;
}
.gym-pic{
width: 300px;
height: 300px;
}
.gaming-img{
    display: flex;
    justify-content: left;
    padding-left: 20px;
}
.submission{
    border: solid black 2px;
    padding-top: 35px;
    padding-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-color:lightgrey
    
}
.header{
    text-decoration: underline;
}

.submission{
    display:flex;
    justify-content: center;
}

#FBack{
    padding-right: 40%;
    padding-bottom: 65%;
}
.submit{
    display: flex;
    justify-content: center;
}
.details{
    display:flex;
    justify-content: space-evenly;
    border:solid 2px black;
    background-color: lightgrey;
    margin-left:50px;
    margin-right:50px;
    padding-bottom: 2.5%;
    padding-top: 2%;
    flex-wrap:wrap;
}



#pro{
    border: solid black 2px;
    
    font-family: Arial;
    font-size: 20px;
    background-color: lightgrey;
    text-align: center;   
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
    
        
}
#tech-img{ 
display: flex;
justify-content: center;
border: 2px solid black;
box-shadow: 3px 4px 3px;
margin-left: 454px;
margin-right: 454px;
}
#coming-soon{
    text-shadow: 2px 2px 5px;
}
.blog-text{
    border: black 2px solid;
    background-color: lightgrey;
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 50px;
    padding-right: 50px;

}

.blog-text p{
    font-size:22px;
    font-family: Arial;
    text-align: center;
}
.blog-text h2{
    display:flex;
    font-family: Arial;
    font-size: 32px;
    justify-content: center;
    text-decoration: underline;
}








@media only screen and (max-width: 1100px) {
    .top-nav{
        background-color: navy;
        align-content: center;
        display: flex;
        justify-content:space-evenly;
        padding: 5%;
        font-size: 20px;
        font-weight: bold;
    }
    .about-p{
        font-size: 35px;
    }
    .about-me-2{
        font-size: 35px;
        .hobbies{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
            font-size: 20px;
            
            img{
                width: 65%;
            }    
         
        }
    
    }
}
    
        

  